html {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: #222; color: #ddd;
  font-size: 1rem; font-family: Source Sans Pro;
}

h1 { font-size: 1.75rem; font-weight: 400; }


h2 { 
  display: inline-block;
  margin-top: 0; padding: 4px 6px;
  background-color: #8fa3cc; background-color: #b8becc; color: #222;
  font-size: 1.125rem; font-size: .938rem; font-weight: 700;
}

a {
  color: #ddd; text-decoration: underline;
}


form {
  margin-bottom: 72px;
}

fieldset {
  margin: -1px;
  border: solid 1px #666;
  padding: 4px 4px 24px 4px;
}

fieldset > fieldset {
  border: 0;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 0.938rem; line-height: 1rem;
  color: #eee; color: #69f;
  -moz-user-select: none; -webkit-user-select: none;
}

input[type=checkbox] + label {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
  border-bottom: dotted 1px #69f;
}


optgroup {
  padding-bottom: 8px;
} 

optgroup:not(:first-child) {
  padding-top: 8px;
  border-top: solid 1px #666;
} 


input, textarea, select {
  display: block;
  border: solid 1px transparent; padding: 4px; height: 28px;
  background-color: #444; color: #eee;
  font-family: Inconsolata;
  font-size: 0.938rem;
  box-sizing: border-box;
}

option {
  font-family: Inconsolata;
}

input[type=text]:focus, textarea:focus, select:focus {
  border-color: #69f;
}

.container {
  width: 1100px; margin: 0 auto;
}

.ctrl {
  display: block; float: left;
  padding: 4px 2px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.tag {
  display: block; float: left; overflow: hidden;
  height: 28px; line-height: 28px;
  padding: 0 6px 0 6px; margin-right: 4px;
  background-color: #444; color: #ddd;
  font-family: Inconsolata; font-size: 0.875rem;
  cursor: pointer;
  vertical-align: top;
  transition: 0.1s;
}

.tag:hover {
  background-color: #555;
}


.tag.close {
  padding-right: 0;
}

.tag.close:after {
  display: block; float: right;
  background-color: #444; border-left: solid 1px #777;
  content: "×";
  padding: 0 6px; margin-left: 4px;
  font-weight: 600; color: #f33; font-size: 28px; vertical-align: middle;
  transition: 0.1s;
}


/*.tag.close:hover:after { color: #f33; }*/

.tag.add { padding: 0; }
.tag.add:after {
  display: block;
  overflow: hidden;
  content: "+";
  padding: 0 12px;
  background-color: #666;
  color: #eee;
  height: 28px;
  font-weight: 400; font-size: 28px; vertical-align: top;
}
.tag.add:hover:after { background-color: #777; color: #fff; }


span.film { background-color: #665d3d; }
span.film:hover { background-color: #736945; }
span.intervention { background-color: #3d665d; }
span.intervention:hover { background-color: #457369; }

.w12 { width: 100%; }
.w11 { width: 91.67%; }
.w10 { width: 83.33%; }
.w9 { width: 75%; }
.w8 { width: 66.67%; }
.w7 { width: 58.33%; }
.w6 { width: 50%; }
.w5 { width: 41.67%; }
.w4 { width: 33.33%; }
.w3 { width: 25%; }
.w2 { width: 16.67%; }
.w1 { width: 8.33%; }
.clear { clear: both; }


.w1 > input, .w2 > input, .w3 > input, .w4 > input, .w5 > input, .w6 > input, .w7 > input, .w8 > input, .w9 > input, .w10 > input, .w11 > input, .w12 > input, 
.w1 > textarea, .w2 > textarea, .w3 > textarea, .w4 > textarea, .w5 > textarea, .w6 > textarea, .w7 > textarea, .w8 > textarea, .w9 > textarea, .w10 > textarea, .w11 > textarea, .w12 > textarea, 
.w1 > span, .w2 > span, .w3 > span, .w4 > span, .w5 > span, .w6 > span, .w7 > span, .w8 > span, .w9 > span, .w10 > span, .w11 > span, .w12 > span
{ width: 100%; box-sizing: border-box; }

.seances-similaires div {
  display: block; float: left;
  font-size: 0.875rem;
  margin: 0 4px; padding: 0 6px; height: 28px; line-height: 28px;
  background-color: #455473;
  cursor: pointer;

}

input[type=checkbox] {
  display: inline-block;
  width: auto !important;

}

button {
  display: block; float: right;
  min-width: 120px; height: 36px; line-height: 36px;
  margin: 12px 0 0 8px; border: 0; padding: 0 8px;
  background-color: #666; color: #eee;
  font-family: Source Sans Pro; font-weight: 600; font-size: 0.938rem; /*text-transform: uppercase;*/
  cursor: pointer;
  transition: 0.1s;
}

button:hover { background-color: #555; }

button.small {
  padding: 0; margin-left: 0;
  height: 28px; line-height: 28px; font-size: 0.785rem;
  font-weight: 400; color: #ddd; background-color: transparent;
  border-bottom: dotted 1px #ddd;
}

button.small:hover { background-color: transparent; }
button.left { float: left; margin-left: 0; margin-right: 8px; }




button#enregistrer { background-color: #508050; }
button#enregistrer:hover { background-color: #609960; }

button#supprimer { background-color: #c33; }
button#supprimer:hover { background-color: #a62929; }



svg.switch { height: 28px; margin: 8px 0;  cursor: pointer; }
svg.switch .switch-background { fill: #333; }
svg.switch .switch-button { fill: #666; }
svg.switch .switch-on { fill: #2c2; }
svg.switch .switch-off { fill: #f30; }
svg.switch g { transition: 0.1s; }
svg.switch.off g { transform: translateX(50%); }
svg.switch.on .switch-off,  svg.switch.off .switch-on { display: none; }
